---
layout: default
---
<h1>Hello and welcome 👋</h1>
<p>Hi, I'm David, a Web Developer based in Cambridge, UK. I have been hand-crafting websites for a wide range of sectors including start-ups, education, biotech and non-profit for over 7 years now.</p>

<p>I intend to keep my corner of the web intentionally minimal - free from ads, annoying pop ups or distracting animations- but full of useful information, where I blog about web development related topics.</p>

<h2>Latest Articles</h2>
{% for post in site.posts %}
	<article class="post">
		<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
		<!-- <p> {{ post.date | date: "%b %-d, %Y" }}</p> -->
		<p>{{ post.date | date: "%b %-d, %Y" }} - {{ post.excerpt }}</p>
	</article>
{% endfor %}

<!--   <h2><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></h2>
  <p></p>

  <ul>
  	<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
	{% for page in site.pages %} {% if page.title %}
	<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
	{% endif %} {% endfor %}
  </ul> -->