body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #222;
	font-size: 1.1em;
	line-height: 1.4;
	margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #e2e2e2;
	padding:1.1em 0;
	position: relative;
	// background: #0f2439;
	h1 {
		margin:0;
		line-height: 1;
		font-size: 135%;
		// font-weight: normal;	
		a {
			// color:#2472b5;
			// color: #005EB8;
			// text-decoration: none;
		}
	}
}

.header-measure,
.heading-measure,
.content-measure,
.footer-measure {
	max-width: 43em;
	margin:auto;
	padding-left: 1em;
	padding-right: 1em;
}


.header-measure {
	display: flex;
}
nav {
	margin-left: auto;
	padding-left: 1em;
	ul {
		list-style: none;
		margin:0;
		padding:0;
		li {
			display: inline-block;
		}
	}
}

.heading {
	// background:#eff2f7;
	background: #eee;
    // color: #fefefe;
	padding:2em 0 2em 0;
}
.heading-content {
	// max-width: 35em;
	// text-align: center;
}
.heading-title {
	margin:0;
	font-size: 195%;
}
.heading-text {
	margin-bottom: 0;
}

.article-list {
	list-style: none;
	margin:0;
	padding:0;
}
.article-list__item {
	margin:2em 0;
	article {
		// background: #F5F5F5;
		// box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.1);
	}
	time {
		color: #545454;
	}
	h3 {
		margin:0 0 0.5em 0;
		font-size:120%;
	}
	p {
		margin:0.8em 0 0 0;
	}
}

// Code Blocks
div.highlight {
	border-left: 7px solid rgba(0, 0, 0, 0.1);
	background-color: #eeeeee;
	// background:#0b0c0c;
	// color:#fff;
	padding:0.5em 1em;
}
.highlighter-rouge {
	background:#eee;
	padding:2px;
}

// main, footer {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

.content {
	padding-top: 0.7em;
	padding-bottom: 1em;
}

h1,h2,h3 {
	// font-weight: 500;
	line-height: 1.26;
}
a {
	color: #222;
}

footer {
	background:#eee;
	padding-top: 1em;
	padding-bottom: 1em;
}
