#site {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	padding:0.5em 1em;
}
a {
	color: #800;
	// border-bottom: 1px solid #800;
	text-decoration: none;
}
header {
	// border-bottom: 2px solid #ddd; 
	margin-bottom: 1.5em;
}
header h1 {
	font-size:1.22em;
	margin-bottom: 1em;
}
header a {
	// border-bottom: 4px solid #800;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, georgia,serif;
	line-height:1.5;
	font-size:1.1em;
	color:#444;
}
h1,h2,h3{
	line-height:1.35;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: 600;
}
.post {
	padding:0;
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	h2 {
		margin:0;
	}
}
footer {
	// border-top: 2px solid #ddd; 
	margin-top: 2em;
	padding-bottom: 0.1em;
}